/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/fraunces-v38-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; 
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/font/fraunces-v38-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; 
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/font/barlow-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Custom Colors */
:root {
/* ----Primary---- */
    --Red-400: hsl(7, 99%, 70%);
    --Yellow-500: hsl(51, 100%, 49%);
    --Green-800: (graphic design text): hsl(167, 40%, 24%);
    --Blue-800: (photography text): hsl(198, 62%, 26%);
    --Green-500: (footer): hsl(167, 34%, 41%);
/* ----Neutral---- */
    --Grey-950: hsl(212, 27%, 19%);
    --Grey-600: hsl(213, 9%, 39%);
    --Grey-550: hsl(232, 10%, 55%);
    --Grey-400: hsl(210, 4%, 67%);
    --White: hsl(0, 100%, 100%);
}

/* General Typography */
body {  
    font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces';
  font-weight: 900;

  line-height: 1;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.hero {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  overflow-x: hidden;

  position: relative;
  min-height: 100vh;
}

.hero__logo--container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 1rem;
}

.nav {
  display: none;
}

.nav__open {
    background-color: var(--White);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin: 0 auto;
  width: 85%;

  position: absolute;
  top: 18%;
  left: 0;
  right: 0;
  bottom: 23%;

  z-index: 9999;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.nav__item a {
  color: var(--Grey-550);
  font-family: 'Barlow';
  font-weight: 700;
}

.nav__item--contact {
  margin-top: 1rem;
}

.nav__item--contact a {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--Green-800);
  background-color: var(--Yellow-500);

  padding: 1rem 2rem;
  border-radius: 2rem;
}

.hero__main--title {
  color: var(--White);

  font-size: calc(2.5rem);
  letter-spacing: 4px;

  text-transform: uppercase;
  text-align: center;
  margin: 6rem auto;
}

.hero__arrow--container {
    display: flex;
    justify-content: center;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 25%;
}

