/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/fraunces-v38-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; 
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/font/fraunces-v38-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; 
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/font/barlow-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Custom Colors */
:root {
/* ----Primary---- */
    --Red-400: hsl(7, 99%, 70%);
    --Yellow-500: hsl(51, 100%, 49%);
    --Green-800: hsl(167, 40%, 24%);
    --Blue-800:  hsl(198, 62%, 26%);
    --Green-500: hsl(167, 34%, 41%);
/* ----Neutral---- */
    --Grey-950: hsl(212, 27%, 19%);
    --Grey-600: hsl(213, 9%, 39%);
    --Grey-550: hsl(232, 10%, 55%);
    --Grey-400: hsl(210, 4%, 67%);
    --White: hsl(0, 100%, 100%);
}

/* General Typography */
body {  
    font-size: 1.125rem;
    height: 100svh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces';
  font-weight: 900;
}

p {
  font-family: 'Barlow';
  font-weight: 600;

  line-height: 1.5;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

picture {
  line-height: 0;
}

/* Mobile header Section */
.hero {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  position: relative;
  min-height: 100svh;
}
/* Navigation Section */
.hero__logo--container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 1rem;
}

.nav {
  display: none;
}

.nav__open {
  background-color: var(--White);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin: 0 auto;
  width: 85%;

  position: absolute;
  top: 18%;
  left: 0;
  right: 0;
  bottom: 23%;

  z-index: 9999;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.nav__item a {
  color: var(--Grey-550);
  font-family: 'Barlow';
  font-weight: 700;
}

.contact {
  margin-top: 1rem;
}

.contact a:hover,
.contact a:focus {
  transition: 0.3s ease-in-out;
  color: var(--White);
  background-color: lightskyblue;
}

.contact a {
  text-transform: uppercase;
  font-family: 'Fraunces';
  font-weight: 700;
  color: var(--White);

  padding: 1rem 2rem;
  border-radius: 2rem;
}
/* Hero Content Section */
.hero__main--title {
  color: var(--White);

  font-size: calc(2.5rem);
  letter-spacing: 4px;

  text-transform: uppercase;
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 25vh;
}

.hero__arrow--container {
    display: flex;
    justify-content: center;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 25vh;
}

.transform__content--left {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.75rem;
  padding: 4rem 2rem;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.transform {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.transform__content--image {
  background-image: url("../images/mobile/image-transform.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.transform__content--title {
  color: var(--Grey-950);

  text-align: center;
  font-size: calc(2rem);
}

.transform__content--text {
  color: var(--Grey-550);
  text-align: center;
}

.transform__content--btn {
  color: var(--Grey-950);

  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'fraunces';
  font-weight: 900;

  box-shadow: 0 0.5rem 0.5rem -3px var(--Yellow-500);
}

.standout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.standout__content--image {
  background-image: url("../images/mobile/image-stand-out.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.standout__content--right {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.75rem;
  padding: 4rem 2rem;
}

.standout__content--title {
  color: var(--Grey-950);

  text-align: center;
  font-size: calc(2rem);
}

.standout__content--text {
  color: var(--Grey-550);
  text-align: center;
}

.standout__content--btn {
  color: var(--Grey-950);

  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'fraunces';
  font-weight: 900;

  box-shadow: 0 0.5rem 0.5rem -3px var(--Red-400);
}

.standout__content--btn:hover,
.transform__content--btn:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}

.graphic__photography--left {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.graphic__photography--content {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.graphic__photography--title {
  color: var(--Green-800);
  text-align: center;
  font-size: calc(2rem);
}

.graphic__photography--text {
  color: var(--Green-800);
  text-align: center;
}

.graphic__photography--left,
.graphic__photography--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  min-height: 100svh;
  padding: 4rem 2rem;
}

.graphic__photography--right {
  background-image: url("../images/mobile/image-photography.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right__blue {
  color: var(--Blue-800);
}

.clients__section {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4rem;
  padding: 4rem 2rem;
}

.clients__testimonials {
  display: flex;
  flex-direction: column;

  gap: 4rem;
}

.clients__section--title {
  color: var(--Grey-400);
  font-size: 1rem;

  letter-spacing: 4px;
  text-transform: uppercase;
}

.clients__testimonials--client {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.clients__testimonials--image {
  width: 25%;
  border-radius: 50%;
}

.clients__testimonials--image,
.clients__testimonials--text {
  margin-bottom: 2rem;
}

.clients__testimonials--text {
  color: var(--Grey-550);
  text-align: center;
}

.clients__testimonials--name {
  color: var(--Grey-950);
  margin-bottom: 0.5rem;
}

.clients__testimonials--role {
  color: var(--Grey-400);
  font-family: 'barlow';
  font-weight: 600;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "milk orange"
  "cone sugar";
}

.milk__bottle {
  grid-area: milk;
}

.orange__juice {
  grid-area: orange;
}

.icecream__cone {
  grid-area: cone;
}

.sugar__cubes {
  grid-area: sugar;
}

.footer {
  background-color: var(--Green-500);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4rem;
  padding: 4rem 2rem;
}

.footer__title {
  color: var(--Green-800);
}

.footer__links {
  display: flex;
  gap: 4rem;
}

.footer__item a {
  color: var(--Green-800);
}

.footer__item a:hover,
.footer__item a:focus {
  color: var(--White);
}

.footer__socials {
  display: flex;
  gap: 2rem;
}

.icon svg:hover,
.icon svg:focus {
  fill: var(--White);
}

@media only screen and (min-width: 750px) {
  .hero {
    background-image: url("../images/desktop/image-header.jpg");
  }

  .hero__logo--container {
    padding: 2rem 2rem;
  }

  .nav {
    display: block;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .nav__item a {
    color: var(--White);
  }

  .nav__toggle--btn {
    display: none;
  }

  .contact {
    margin: 0;
  }

  .contact a {
    background-color: var(--White);
    color: var(--Grey-950);
    padding: 0.75rem 1.25rem;
  }

  .hero__arrow--container {
    bottom: 41%;
  }

  .grid__container {
    display: grid;
    grid-template-areas: 
    "transform-content transform-image"
    "standout-image standout-content";

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .transform__content--image {
    background-image: url("../images/desktop/image-transform.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    grid-area: transform-image;
  }

  .transform__content--left {
    grid-area: transform-content;
  }

  .standout__content--right {
    grid-area: standout-content;
  }

  .standout__content--image {
    background-image: url("../images/desktop/image-stand-out.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    grid-area: standout-image;
  }

  .graphic__photography--left {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }

  .graphic__photography--right {
    background-image: url("../images/desktop/image-photography.jpg");
  }

}

@media only screen and (min-width: 992px) {
  .nav__list {
    gap: 3rem;
  }

  .hero__main--title {
    font-size: 3.5rem;
    letter-spacing: 10px;

    top: 21vh;
  }

  .hero__arrow--container {
   bottom: 40vh;
  }

  .transform__content--left,
  .standout__content--right {
    align-items: flex-start;
    padding: 6rem;
  }

  .transform__content--text,
  .standout__content--text {
    text-align: left;
  }

  .graphic__photography--grid {
    display: grid;
    grid-template-areas: 
    "left right";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .graphic__photography-left {
    grid-area: left;
  }

  .graphic__photography-right {
    grid-area: right;
  }

  .clients__section {
    padding: 6rem;
  }

  .clients__testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .clients__testimonials--image,
  .clients__testimonials--text {
  margin-bottom: 4rem;
}

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "milk orange cone sugar";
  }
}

@media only screen and (min-width: 1200px) {

}






